.grid-container {
    height:max-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid {
    display: flex;
    flex-direction: column;
    width: 675px;
    height: 675px;
    background-color: #000; /* Couleur de fond pour l'extérieur de la grille */
    border: 2px solid #00FF00; /* Bordure épaisse pour l'encadrement de la carte */
    box-shadow: 0 0 5px #00FF00, 0 0 10px #00FF00; /* Effet d'ombre pour un style vintage */
  }


  .grid-row {
    display: flex;
    width: 675px;
    height: 45px;
  }


  .grid-cell {
    text-align: center;
    align-content: center;
    width: 45px;
    height: 45px;
  }


  .textured-nine {
    background-color: #333; /* Gris sombre pour les bordures */
    border: 1px solid #222; /* Bordure légèrement plus foncée pour l'effet de mur */
    box-shadow: inset 0 0 5px #111; /* Effet d'ombre interne pour donner du relief */
  }

  .textured-zero {
    background-color: #000; /* Fond noir */
    border: 1px solid #333; /* Bordure légèrement plus claire */
  }
  .textured-one{
    background-color: #ae00ff; /* Vert classique pour le serpent */
    border: 1px solid #000; /* Bordure noire pour un effet pixelisé */
    box-shadow: inset -1px -1px 0 #007700, inset 1px 1px 0 #ae00ff;
  }
  .textured-height {
    background-color: #ff0000; /* Couleur de fond rouge vif */
    border: 1px solid #ff3030; /* Bordure pour un effet pétant */
    box-shadow: 0 0 15px rgba(255, 48, 48, 0.8), /* Ombre extérieure */
                inset -1px -1px 0 #ff3030, /* Ombre intérieure en haut à gauche */
                inset 1px 1px 0 #ff3030, /* Ombre intérieure en bas à droite */
                inset 0 0 5px rgba(255, 255, 255, 0.5); /* Lueur intérieure pour le brillant */
}






