.grid-container {
    display: flex;
    justify-content: center;
  }
  
  .grid {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 900px;
  }
  
  .grid-row {
    display: flex;
    width: 900px;
    height: 30px;
  }
  
  .grid-cell {
    text-align: center;
    align-content: center;
    width: 30px;
    height: 30px;
  }
  
  .textured-nine {
    background-image: url('https://cdn-icons-png.flaticon.com/512/698/698684.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    color: white;
  }
  .textured-zero {
    background-image: url('https://img.freepik.com/vecteurs-libre/herbe-texturee-sans-soudure-motif-herbe-naturelle_172107-1308.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    color: white;
  }
  
  